.mtebi {
	height: 500px;
	width: 900px;
	margin-left: 50px;

}

.background {
	background-color:white ;
}

.color {
	background-color: red;
}

.asd {
	height: 200px;
	width: 900px;
	background-color: blue;
}